/* Estilos para la tabla */
.table-container {
  width: 80%;
  text-align: center; /* Centra horizontalmente el contenido de la tabla */
  margin-top: 15%; /* Centra la tabla verticalmente en la mitad de la página */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datagrid {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
  /* margin: 0 auto; */ /* No es necesario ya que está dentro de .table-container */
}

/* Estilo para las cabeceras de la tabla */
.datagrid th {
  background-color: #006699;
  color: #FFFFFF;
  width: 33.33%; /* Establece el ancho igual para cada columna */
}

/* Estilos para las celdas pares de la tabla */
.datagrid tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para las celdas impares de la tabla */
.datagrid tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Estilos para las celdas de datos */
.datagrid td {
  width: 33.33%; /* Establece el ancho igual para cada columna de datos */
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
}

/* Estilos para el botón */
.button {
  display: inline-block;
  padding: 10px 30px;
  background: #006699;
  color: #FFFFFF;
  border: 1px solid #006699;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin: 0 10px;
  font-size: 20px;
  margin-top: 5%;
}

.button:hover {
  background: #00557F;
}
