<!DOCTYPE html>
<html lang="es">
<head>
    <title>Actualizar Contacto</title>
    <script type="text/javascript" src="../static/js/editar.js"></script>
</head>

<body>
    <h1>Actualizar Contacto</h1>

    <label for="text">Nombre</label>
    <br>
    <input type="text" id="nombreInput" placeholder="Ingrese el Nombre">
    <br>
    <label for="text">Correo</label>
    <br>
    <input type="email" id="emailInput" placeholder="Ingrese el Correo">
    <br>
    <label for="text">Teléfono</label>
    <br>
    <input type="tel" id="telefonoInput" placeholder="Ingrese el Teléfono">
    <br>
    <button onclick="putContacto()">Actualizar</button>
    <button onclick="cancelar()">Cancelar</button>
    <script>
        function cancelar() {    
            window.location.href = "/"; 
        }
        document.body.onload = cargarContacto();
    </script>
</body>
</html>
