<!DOCTYPE html>
<html lang="es">
<head>
    <title>Insertar contacto</title>
    <script type="text/javascript" src="../static/js/get_all.js"></script>
    <link rel="stylesheet" href="../static/js/css/insertar.css">
    <script type="text/javascript" src="../static/js/post.js"></script>
</head>
<body>
    <div class="center-content">
        <h1>Insertar Contacto</h1>
        <label for="text">Nombre</label>
        <input type="text" id="nombreInput" class="input" placeholder="Ingrese el Nombre">
        <label for="text">Correo</label>
        <input type="email" id="emailInput" class="input" placeholder="Ingrese el Correo">
        <label for="text">Teléfono</label>
        <input type="tel" id="telefonoInput" class="input" placeholder="Ingrese el Teléfono">
        <div class="button-container">
            <button onclick="insertContact()" class="button">Ingresar</button>
            <button onclick="cancelar()" class="button">Cancelar</button>
        </div>
    </div>


    <script>
        function cancelar() {
            window.location.href = "/";
        }
        function insertContact() {
            const nombre = document.getElementById("nombreInput").value;
            const email = document.getElementById("emailInput").value;
            const telefono = document.getElementById("telefonoInput").value;

            insertContactPost(nombre, email, telefono);
        }
    </script>
</body>
</html>
