<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
    <div id="loginSection">
        <form id="loginForm">
            <br>
            <h1>Iniciar sesión</h1>

            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username">
            <p><label for="password">Contraseña:</label>
            <input type="password" id="password" name="password"></p>
            <p><button type="button" onclick="login()">Iniciar sesión</button></p>
            <p><a href="/">Regresar</a></p>
            <hr size="10" color="black">
        </form>
    </div>
    
    <div id="logoutSection" style="display:none;">
        <br>
        <h1>Cerrar sesión</h1>
        <button type="button" onclick="logout()">Cerrar Sesión</button>
        <hr size="10" color="black">
    </div>
    </center>

    <script>
        function changeText() {
            const sesionExistente = sessionStorage.getItem('token');
            const loginSection = document.getElementById('loginSection');
            const logoutSection = document.getElementById('logoutSection');

            if (sesionExistente) {
                // Si hay una sesión iniciada, mostrar la sección de cerrar sesión y ocultar la de inicio de sesión
                loginSection.style.display = 'none';
                logoutSection.style.display = 'block';
            } else {
                // Si no hay una sesión iniciada, mostrar la sección de inicio de sesión y ocultar la de cerrar sesión
                loginSection.style.display = 'block';
                logoutSection.style.display = 'none';
            }
        }

        async function login() {
            const sesionExistente = sessionStorage.getItem('token');

            if (sesionExistente){
                alert('Ya iniciaste sesión');
                return;
            }

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('http://127.0.0.1:8000/token/', {
                method: 'GET',
                headers: {
                    'Authorization': 'Basic ' + btoa(`${username}:${password}`)
                }
            });

            // Verificar si la autenticación fue exitosa
            if (response.ok) {
                // Almacenar el token en sessionStorage
                const data = await response.json();
                sessionStorage.setItem('token', data.token);
                window.location.href = '/inicio';
            } else {
                // Manejar el caso en el que la autenticación falla
                console.error('Error en la autenticación');
            }
        }

        function logout() {
            // Eliminar el token almacenado en sessionStorage
            sessionStorage.removeItem('token');
            alert('Sesión cerrada');
            window.location.href = "/login";
        }

        document.addEventListener('DOMContentLoaded', changeText);
    </script>
</body>
</html>
