<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ver Contacto</title>
    <link rel="stylesheet" href="../static/js/css/ver.css">
    <script type="text/javascript" src="../static/js/ver.js"></script>
</head>

<body>
    <h1>Ver Contacto</h1>
    <div class="center-content">
        <div class="table-container">
            <table border="1" id="table_contactos" class="datagrid">
                <thead id="thead_contactos">
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                </thead>
                <tbody id="tbody_contactos">
                </tbody>
            </table>
        </div>
        <button onclick="cancelar()" class="button">Volver</button>
    </div>
    <script>
        document.body.onload = getContacto();
        function cancelar() {    
            window.location.href = "/"; 
        }
    </script>
</body>
</html>
